ant antlr aopalliance asm avalon-framework backport-util-concurrent bsh c3p0 cglib ch chengyi classworlds cn co com commons-beanutils commons-chain commons-cli commons-codec commons-collections commons-dbcp commons-digester commons-fileupload commons-httpclient commons-io commons-lang commons-logging commons-net commons-pool commons-validator cover-maven-plugin de dom4j error freemarker geronimo-spec io javax jaxen jdom jline joda-time jstl jtidy junit log4j logkit ma mysql net ognl org oro pl plexus redis souche sslext stax taglibs tk urbanophile us wsdl4j xalan xerces xml-apis xml-resolver xmlpull xmlunit xpp3
